services:
  web:
    build: ./web
    ports:
      - "8081:80"
    depends_on:
      - api
    restart: unless-stopped
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.http.routers.doclogic.rule=Host(`doclogic.eu`,`www.doclogic.eu`)
      - traefik.http.routers.doclogic.entrypoints=websecure
      - traefik.http.routers.doclogic.tls.certresolver=le
      - traefik.http.services.doclogic.loadbalancer.server.port=80
  api:
    build: ./api
    env_file:
      - ./api/.env
    restart: unless-stopped
    networks:
      - proxy
networks:
  proxy:
    external: true

